body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabela-curvada {
  border-radius: 10px;
}

.container {
  margin-top: 50px;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
}

.btn-outline-secondary {
  border-color: #000;
  color: #000;
}

.btn-outline-secondary:hover {
  background-color: #000;
  color: #fff;
}

.dropdown-menu .dropdown-item::before {
  display: none !important;
}